.cards-wrapper
  
  .card-wrapper
    .card-1.card-object.card-object-hf
      a.face.front(href="#")
        .title-wrapper
          .title Jenny
          .subtitle felis hairyus
      a.face.back(href="#")
        .img-wrapper
          .avatar
        .info-wrapper
          .info-title Jenny
          ul.info-content
            li.info-content-item Age #[span 6 years]
            li.info-content-item Length #[span 46cm]
            li.info-content-item Weight #[span 4kg]
      
  .card-wrapper
    .card-2.card-object.card-object-hf
      a.face.front(href="#")
        .title-wrapper
          .title Mishka
          .subtitle felis catus
      a.face.back(href="#")
        .img-wrapper
          .avatar
        .info-wrapper
          .info-title Mishka
          ul.info-content
            li.info-content-item Age #[span 7 years]
            li.info-content-item Length #[span 42cm]
            li.info-content-item Weight #[span 3.8kg]
  
  .card-wrapper
    .card-3.card-object.card-object-hf
      a.face.front(href="#")
        .title-wrapper
          .title Kyra
          .subtitle felix pumus
      a.face.back(href="#")
        .img-wrapper
          .avatar
        .info-wrapper
          .info-title Kyra
          ul.info-content
            li.info-content-item Age #[span 5 years]
            li.info-content-item Length #[span 50cm]
            li.info-content-item Weight #[span 5.2kg]

.info Powered by #[a(href="http://animista.net/play/basic/flip-2/flip-2-hor-top-fwd" target="_blank") flip-2-hor-top-fwd] and #[a(href="http://animista.net/play/basic/flip-2/flip-2-hor-bottom-fwd" target="_blank") flip-2-hor-bottom-fwd] animations from #[a(href="http://animista.net/play" target="_blank") Animista.net]